<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">상품 등록</h1>

    <form th:action="@{/product/register}" th:method="post"  >
      <div class="form-group">
        <label>상품명</label>
        <input class="form-control" name="product_name" placeholder="상품명을 입력하세요" type="text">
      </div>
      <div class="form-group">
        <label>상품 사이즈</label>
        <select name="product_size">
          <option>-----</option>
          <option value="대">대 - 30cm 초과</option>
          <option value="중">중 - 20 ~ 30cm</option>
          <option value="소">소 - 20cm 미만</option>
        </select>
      </div>
      <div class="form-group">
        <label>상품 제작 기간</label>
        <input class="form-control" name="product_period" placeholder="상품제작 기간을 입력하세요(예시 : 2 ~ 3일)" type="text">
      </div>
      <div class="form-group">
        <label>상품 설명</label>
        <textarea class="form-control" name="product_desc" rows="5"></textarea>
      </div>

      <div class="form-group fileForm">
        <label >이미지 파일</label>
<!--        <img id = "image-profile" src="/resources/images/default.png"/>-->
<!--        <input id = "file-profile" class="custom-file-input files" type="file" name="uploadFile"/>-->
<!--        <button class="uploadBtn">업로드</button>-->
        <div class="custom-file">
          <input type="file"  class="custom-file-input files" id="fileInput" multiple>
          <label class="custom-file-label" data-browse="Browse"></label>
        </div>
      </div>

      <div class="box">

      </div>

      <style>
        .uploadResult {
          width: 100%;
          background-color: gray;
          margin-top: 10px;
        }

        .uploadResult ul {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          vertical-align: top;
          overflow: auto;
        }

        .uploadResult ul li {
          list-style: none;
          padding: 10px;
          margin-left: 2em;
        }

        .uploadResult ul li img {
          width: 100px;
        }
      </style>

      <div class="uploadResult">
        <ul>

        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>

//      //미리보기
//      $(function (){
//        let fileProfile = document.querySelector("#file-profile");
//        let imageProfile = document.querySelector("#image-profile");
//
//        //첨부파일 입력 필드에서 선택된 이미지 파일이 변경될 때마다 콜백 함수가 실행되게 한다.
//        fileProfile.addEventListener("change", function(event){
//          let reader= new FileReader();
//          reader.readAsDataURL(event.target.files[0]);
//          reader.onload=function (){
//            imageProfile.src=reader.result;
//          }
//        })
//      });
//
//
//        $(".custom-file-input").on("change", function() {
//
//          var fileName = $(this).val().split("\\").pop();
//          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
//
//          var formData = new FormData();
//
//          var inputFile = $(this);
//
//          var files = inputFile[0].files;
//
//          var appended = false;
//
//          for (var i = 0; i < files.length; i++) {
//
//            if(!checkExtension(files[i].name, files[i].size) ){
//              return false;
//            }
//
//            console.log(files[i]);
//            formData.append("uploadFiles", files[i]);
//            appended = true;
//          }
//
//          //upload를 하지 않는다.
//          if (!appended) {return;}
//
//          for (var value of formData.values()) {
//            console.log(value);
//          }
//
//          //실제 업로드 부분
//          //upload ajax
//          $.ajax({
//            url: '/uploadAjax',
//            processData: false,
//            contentType: false,
//            data: formData,
//            type: 'POST',
//            dataType:'json',
//            success: function(result){
//              console.log(result);
//              showResult(result);
//            },
//            error: function(jqXHR, textStatus, errorThrown){
//              console.log(textStatus);
//            }
//          }); //$.ajax
//        }); //end change event





      $(document).ready(function(e) {

        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        var maxSize = 10485760; //10MB

        function checkExtension(fileName, fileSize){

          if(fileSize >= maxSize){
            alert("파일 사이즈 초과");
            return false;
          }

          if(regex.test(fileName)){
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
          }
          return true;
        }

        $(".custom-file-input").on("change", function() {

          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

          var formData = new FormData();

          var inputFile = $(this);

          var files = inputFile[0].files;

          var appended = false;

          for (var i = 0; i < files.length; i++) {

            if(!checkExtension(files[i].name, files[i].size) ){
              return false;
            }

            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
            appended = true;
          }

          //upload를 하지 않는다.
          if (!appended) {return;}

          for (var value of formData.values()) {
            console.log(value);
          }

          //실제 업로드 부분
          //upload ajax
          $.ajax({
            url: '/uploadAjax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType:'json',
            async : false,
            success: function(result){
              console.log(result);
              showResult(result);
            },
            error: function(jqXHR, textStatus, errorThrown){
              console.log(textStatus);
            }
          }); //$.ajax
        }); //end change event


        function showResult(uploadResultArr){

          var uploadUL = $(".uploadResult ul");

          var str ="";

          $(uploadResultArr).each(function(i, obj) {

            str += "<li data-name='" + obj.imgName + "' data-path='"+obj.path+"' data-uuid='"+obj.uuid+"'>";
            str + " <div>";
            str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
            str += "class='btn-warning btn-sm'>X</button><br>";
            str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
            str += "</div>";
            str + "</li>";
          });

          uploadUL.append(str);
        }

        $(".uploadResult ").on("click", "li button", function(e){

          console.log("delete file");

          var targetFile = $(this).data("file");

          var targetLi = $(this).closest("li");

          $.ajax({
            url: '/removeFile',
            data: {fileName: targetFile},
            dataType:'text',
            type: 'POST',
            success: function(result){
              alert(result);

              targetLi.remove();
            }
          }); //$.ajax
        });


        //prevent submit
        $(".btn-primary").on("click", function(e) {
          e.preventDefault();

          var str = "";

          $(".uploadResult li").each(function(i,obj){
            var target = $(obj);

            str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"+target.data('name') +"'>";

            str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";

            str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

          });

          //태그들이 추가된 것을 확인한 후에 comment를 제거
          $(".box").html(str);
          $("form").submit();

        });



      }); //document ready
    </script>

  </th:block>

</th:block>
